PYTHON_NIXPKG ?= python39

.PHONY: build
build:  ## Build {{project_name}} Nix package
	echo "[nix][build] Build {{project_name}} Nix package."
	@nix-build -E 'with import <nixpkgs> { overlays = [ (import ./overlay.nix) ]; }; callPackage ./default.nix {python = pkgs.${PYTHON_NIXPKG}; poetry2nix = pkgs.poetry2nix;}'

.PHONY: install
install:  ## Install {{project_name}} env with Nix
	echo "[nix][install] Install {{project_name}} env with Nix"
	@nix-build -E 'with import <nixpkgs> { overlays = [ (import ./overlay.nix) ]; }; callPackage ./editable.nix {python = pkgs.${PYTHON_NIXPKG}; poetry2nix = pkgs.poetry2nix;}'

.PHONY: image
image:  ## Build {{project_name}} image with Nix
	echo "[nix][image] Build {{project_name}} image with Nix."
	@nix-build image.nix

.PHONY: docs
docs: install  ## Build {{project_name}} documentation
	echo "[docs] Build {{project_name}} documentation."
	result/bin/sphinx-build docs site

.PHONY: metrics
metrics: install  ## Run {{project_name}} metrics checks
	echo "[nix][metrics] Run {{project_name}} PEP 8 checks."
	result/bin/flake8 --select=E,W,I --max-line-length 80 --import-order-style pep8 --statistics --count {{package_name}}
	echo "[nix][metrics] Run {{project_name}} PEP 257 checks."
	result/bin/flake8 --select=D --ignore D301 --statistics --count {{package_name}}
	echo "[nix][metrics] Run {{project_name}} pyflakes checks."
	result/bin/flake8 --select=F --statistics --count {{package_name}}
	echo "[nix][metrics] Run {{project_name}} code complexity checks."
	result/bin/flake8 --select=C901 --statistics --count {{package_name}}
	echo "[nix][metrics] Run {{project_name}} open TODO checks."
	result/bin/flake8 --select=T --statistics --count {{package_name}} tests
	echo "[nix][metrics] Run {{project_name}} black checks."
	result/bin/black -l 80 --check {{package_name}}

.PHONY: unit-test
unit-test: install  ## Run {{project_name}} unit tests
	echo "[nix][unit-test] Run {{project_name}} unit tests."
	result/bin/pytest tests/unit

.PHONY: integration-test
integration-test: install  ## Run {{project_name}} integration tests
	echo "[nix][integration-test] Run {{project_name}} unit tests."
	result/bin/pytest tests/integration

.PHONY: coverage
coverage: install  ## Run {{project_name}} tests coverage
	echo "[nix][coverage] Run {{project_name}} tests coverage."
	result/bin/pytest --cov-config=.coveragerc --cov={{package_name}} --cov-fail-under=90 --cov-report=xml --cov-report=term-missing tests

.PHONY: test
test: unit-test integration-test coverage  ## Run {{project_name}} tests

