"""{{project_description}}"""
import logging

from {{package_name}}.wsgi import ApplicationLoader
from {{package_name}}.version import __version__

# initialize logging
log = logging.getLogger(__name__)
log.addHandler(logging.NullHandler())

__all__ = ("ApplicationLoader", "__version__")
